# 1. Зависимости (самое важное)
node_modules/

# 2. Переменные окружения и ключи
.env
.env.*

# 3. База данных и служебные файлы SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# 4. Логи (чтобы не пушить errors.log)
logs/
*.log

# 5. Папки расширений и редактора
.VSCodeCounter/
.vscode/